[SOURCE]
    DIR=/path/to/your/local/folder/with/trailing/slash/

# RSYNC_DIRS can be a comma separated list as well if you intend to maintain more than one mirror
[DEST]
    RSYNC_DIRS=user@host:/path/to/remote/dir/without/trailing/slash
    PUBLIC_URL=https://domain.tld/folder/